@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cis-green: #32A402;
  --cis-green-soft: #ebf6e6;
  --cis-orange: #ffa500;
  --cis-orange-soft: #fff6e6;
  --cis-red: #ff0000;
  --cis-red-soft: #ffe6e6;
}

body {
  @apply bg-gray-50 text-gray-900;
}
